<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="com.goodee.mvcboard.mapper.LoginMapper">
	<!-- namespace-> 해당 매퍼파일이 어떤 인터페이스(namespace)와 연결되는지 -->
    <select id="selectMemberById" parameterType="com.goodee.mvcboard.vo.Member" resultType="com.goodee.mvcboard.vo.Member">
    <!-- parameterType -> 전달되는 파라미터의 자료형 지정 || resultType -> 쿼리로 반환되는 데이터의 자료형을 지정 -->
        SELECT 
        id
        FROM id_list 
        <where>
        	id = #{id} 
        	AND pw = PASSWORD(#{pw})
        </where> 
    </select>
</mapper>